a {
    color: #08C;
    text-decoration: none;
}

a:hover {
    color: #00aaff;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.pure-alert {
    border-radius: 3px;
    margin: 50px 0 20px 0;
    padding: 1em;
    font-weight: bold;
}
    .pure-alert-warning {
        color: rgb(173, 120, 41);
        background: rgb(250, 173, 61);
    }


.content-subhead { 
	position: relative;
}
	.content-subhead a {
		color: #b8d3e0;
	}
	.content-subhead a:hover {
		color: #00aaff
	}
	.content-subhead-anchor {
		left: -20px;
		position: absolute;
	}

.content-subsubhead {
	margin: 30px 0 12px 0;
}

#menu { 
	background: #E2E2E2;
}	
	#menu .pure-menu ul {
	    margin-top: 1em;
	    border-top: none;
	}

	#menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #08C;
    }

    #menu .pure-menu-heading:hover {
	    background: #0096e0;
	}

	#menu .pure-menu-heading {
	    font-size: 110%;
	    color: #fff;
	    margin: 0;
	    white-space: normal;
	    height: 8.0em;
	    text-transform: none;
	    text-align: center;
	    padding-left: 0;
	}
	    #menu .pure-menu-heading-icon {
	        font-size: 4em;
	        display: block;
	    }

	    #menu .pure-menu-heading-repo {
	        font-size: 60%;
	        color: rgba(255, 255, 255, 0.6);
	    }

	#menu .pure-menu-author {
	    display: block;
	    background: #363B3E;
	    color: #969f9d;
	}
		#menu .pure-menu-author img {
			border-radius: 4px;
			vertical-align: middle;
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4), inset 0 -1px rgba(255, 255, 255, 0.1);
			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4), inset 0 -1px rgba(255, 255, 255, 0.1);
			box-shadow: 0 1px 3px rgba(0,0,0,0.4), inset 0 -1px rgba(255, 255, 255, 0.1);
		}

		#menu .pure-menu-author:hover {
			background: #3f4549;
		}

	#menu .pure-menu-author,
	#menu .pure-menu-heading {
		-webkit-transition: background 0.3s ease-in-out;
		-moz-transition: background 0.3s ease-in-out;
		-o-transition: background 0.3s ease-in-out;
		transition: background 0.3s ease-in-out;
	}

	#menu .pure-menu li a {
	    border-top: 1px solid transparent;
	    border-bottom: 1px solid transparent;
	}

	#menu .pure-menu li a:hover,
	#menu .pure-menu li a:focus {
	    background: rgb(202,202,202);
	    background: -moz-linear-gradient(top, rgb(202,202,202) 0%, rgb(209,209,209) 100%);
	    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(202,202,202)), color-stop(100%, rgb(209,209,209)));
	    background: -webkit-linear-gradient(top, rgb(202,202,202) 0%, rgb(209,209,209) 100%);
	    background: -o-linear-gradient(top, rgb(202,202,202) 0%, rgb(209,209,209) 100%);
	    background: -ms-linear-gradient(top, rgb(202,202,202) 0%, rgb(209,209,209) 100%);
	    background: linear-gradient(to bottom, rgb(202,202,202) 0%, rgb(209,209,209) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#d1d1d1', GradientType=0 );
	    border-top: 1px solid #AAAAAA;
	    border-bottom: 1px solid #BCBCBC;
	    -webkit-box-shadow: 0 1px rgba(202, 202, 202, 0.2), inset 0 1px rgb(194, 194, 194);
	    -moz-box-shadow: 0 1px rgba(202, 202, 202, 0.2), inset 0 1px rgb(194, 194, 194);
	    box-shadow: 0 1px rgba(202, 202, 202, 0.2), inset 0 1px rgb(194, 194, 194);
	    color: #333333;
	}

.code-snippet {
	background: #323639;
	color: #ACACAC;
	padding: 6px 7px;
	border-radius: 4px;
}
	.code-snippet .noselect,
	.code-snippet .noselect:focus {
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    outline-style:none;
	}
	/* green */
	.code-snippet .string {
		color: #88BB77;
	}
	/* blue */
	.code-snippet .const {
		color: #4B99EA;
	}
	/* gray */
	.code-snippet .comment {
		color: #808080;
	}
	/* rusty-orange */
	.code-snippet .keyword {
		color: #BB9977;
	}
	